/*
 * Globals
 */

html {
  	position: relative;
 	min-height: 100%;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 16px;
	color: #3c3c3c;

	background-color: #f5f5f5;
	/* background-image: url("https://renatorroliveira.github.io/developer-kingdom/img/char.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed; */

	/* Black magic to not let the footer collapse with other elements (Don't ask me why) 
 	margin-bottom: 150px;*/
}

h1 {
	font-size: 2.8em;
	font-weight: 700;
}
a {
	color: #cc3333;
}

/*
 * Custom overrides
 */
 


/*
 * Custom Classes
 */

.custom-label {
	background-color: #fff;
}

.custom-input {
	border-left: none;
}

.custom-form, .custom-form input, .custom-form button {
	height: 40px;
}

.push {
	padding-top: 60px;
	padding-bottom: 60px;
}

/*
 * Custom Classes > Details
 */

.details {
	width: 100%;
	background-color: #fcfcfc;
}

/*
 * Custom Classes > Card
 */

.card {
	padding-top: 20px;
	padding-bottom: 20px;
}

.card p {
	font-size: 0.8em;
	font-weight: normal;
	color: #888;
}

.card img {
	padding-top: 10px;
}

/*
 * Custom Classes > Navbar
 */

.navbar {
	padding-top: 40px;
	padding-bottom: 50px;
}

/*
 * Custom Classes > Footer
 */

.footer p {
	font-size: 0.8em;
	font-weight: bold;
}

.footer a {
	padding: 0px 8px;
	color: #3c3c3c;
	font-size: 0.8em;
	font-weight: normal;
}

.footer a:hover {
	color: #3c3c3c;
}

/* 
 * Buttons
 */

.btn-dk {
	font-weight: bold;
	background: #cc3333;
}

/*
 * Misc
 */

/*
 * Colors
 */

.light-gray {
	color: #aaa;
}

/*
 * #IDs
 */
