/*
 * Globals
 */

html {
  	position: relative;
 	min-height: 100%;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 16px;
	color: #3c3c3c;

	background-color: #f5f5f5;
	background-image: url("https://renatorroliveira.github.io/developer-kingdom/img/char.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;

	/* Black magic to not let the footer collapse with other elements (Don't ask me why) */
 	margin-bottom: 150px;
}

h1 {
	font-size: 2.8em;
	font-weight: 700;
}
a {
	color: #cc3333;
}

/*
 * Media Query
 */
 
@media only screen and (max-width: 850px) {
    body {
        background-image: none;
    }
}

/*
 * Footer
 */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}

footer p {
	font-size: 0.8em;
	font-weight: bold;
}

footer a {
	padding: 0px 8px;
}

/*
 * Custom overrides
 */
 
.jumbotron {
	background: none;
}

.jumbotron p {
	font-weight: normal;
}

/*
 * Custom Classes
 */
.custom-label {
	background-color: #fff;
}

.custom-input {
	border-left: none;
}

.custom-form, .custom-form input, .custom-form button {
	height: 40px;
}

/* 
 * Buttons
 */

.btn-dk {
	font-weight: bold;
	background: #cc3333;
}

/*
 * Misc
 */

.col-centered {
	float: none;
	margin: 0 auto;
}

.brand {
    position: relative;
    top: 0;
    height: 150px;
}

/*
 * Colors
 */

.light-gray {
	color: #aaa;
}
